Source: domain-membership-rid
Section: admin
Priority: optional
Maintainer: Dmitriy Safronov <zimniy@cyberbrain.pw>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.3
Homepage: https://github.com/CyberBrain/linux-in-hell
Vcs-Git: git://github.com/CyberBrain/linux-in-hell.git

Package: domain-membership-rid
Architecture: all
Depends: sudo,libpam-krb5,libpam-winbind,libnss-winbind
Description: Domain membership helper
 Domain membership helper
